<div class="flex justify-center w-full py-6">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="text-4xl font-bold">Relatórios</h1>
</div>

<div class="h-screen w-full flex justify-center px-40 rounded-t-3xl">
  <div class="flex flex-col w-full py-8 px-14 rounded-3xl bg-stone-500">
    <button onClick="<%= reports_new_path %>" class="self-end p-3 mb-2 w-40 bg-blue-800 rounded-3xl hover:bg-blue-900 text-slate-200 font-semibold">Novo relatório</button>
    <ul>
      <li class="p-4 flex justify-around">
        <div class="w-1/5 flex">
          <span class="font-semibold text-slate-200 text-lg">Status</span>
        </div>
        <span class="w-2/5 font-semibold text-slate-200 text-lg">Nome</span>
        <span class="w-1/5 font-semibold text-slate-200 text-lg">Criado em</span>
        <div class="w-1/5 flex justify-center">
          <span class="font-semibold text-slate-200 text-lg">Ações</span>
        </div>
      </li>
      <% @reports.each do |report| %>
        <li class="flex justify-around bg-slate-100 mb-4 p-4 rounded-3xl">
          <div class="w-1/5 pl-4">
            <% if report.status == "processing" %>
              <div class="loader"></div>
            <% elsif report.status == "avaiable" %>
              <%= inline_svg_tag 'check_circle.svg', class: 'fill-green-800 hover:fill-green-700' %>
            <% else %>
              <%= inline_svg_tag 'cancel.svg', class: 'fill-red-600 hover:fill-red-500' %>
            <% end %>
          </div>
          <div class="w-2/5 font-semibold">
            <span class=""><a href="<%= reports_show_path(report.id) %>"><%= report.title %></a></span>
          </div>
          <div class="w-1/5 font-semibold">
            <span class=""><%= report.created_at.strftime("%d/%m/%Y") %></span>
          </div>
          <div class="w-1/5 flex justify-evenly px-6">
            <a href=""><%= inline_svg_tag 'edit.svg', class: 'fill-gray-800 hover:fill-gray-700' %></a>
            <a href="<%= reports_export_csv_path(report.id) %>"><%= inline_svg_tag 'download.svg', class: 'fill-blue-800 hover:fill-blue-700' %></a>
            <a href=""><%= inline_svg_tag 'delete.svg', class: 'fill-red-600 hover:fill-red-500' %></a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
